{% extends "blog/base.html" %}
{% load humanize %}

{% block title %}Rút tiền{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Số tiền bạn có thể rút là: {{user.profile.cash|intcomma}}đ</h3>
        <form method="POST">
        {% csrf_token %}
        <table>
            {% comment %} {{ form.media }} {% endcomment %}
            {{form.as_table}}
        </table>
        <br/>
        <button class="btn btn-secondary btn-sm">Tạo lệnh rút tiền</button>
        </form>
    {% else %}
        You are not allowed here!
    {% endif %}
{% endblock %}