{% extends "blog/base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<h1>Cập nhật thông tin</h1>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                
            <img src="{{user.profile.photo.url}}" class="img-fluid rounded-start">
                
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a> Họ và tên: {{user.last_name}} {{user.first_name}}</a></h5>
                    <h5 class="card-title"><a>Email: {{user.email}}</a></h5>
                    {% comment %} <p class="card-text">{{post.body|slice:100|safe}}</p> {% endcomment %}
                    {% comment %} <p class="card-text"><small class="text-muted">{{post.date|date:"d-m-Y"}}</small></p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
<p>Cập nhật thông tin theo bảng dưới đây:</p>
<form action="." method="post" enctype="multipart/form-data">
    <table>
    {{ user_form.as_table }}
    {{ profile_form.as_table }}
    </table>
    {% csrf_token %}
    <br/>
    <p><input type="submit" value="Lưu thông tin"></p>
</form>
{% endblock %}